body{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    color: black;
    background-image: url(file:///C:/Users/victo/OneDrive/Bureau/Projet%20connexion/cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 30%;
    background-position-x: 250px;
    
}
header{
    width: 100%;
    min-height: 10vh;
    background-color: rgb(92, 88, 88);
    margin-left: 0px;
    margin-top: 0;
}
h1{ 
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    margin-top: 0;
    margin-left: 11px;
    
}
.chat{
    width: 60px;
    height: 60px;
    float: right;
    margin-top: -95px;
    margin-right:85%;
}
#nav{
    padding: 10px;
    margin: 0;
    margin-left: 30%;
    margin-top: -90px;

}
#nav li{
    display: inline;
    list-style: none;
    padding: 20px;
}
.clr{
    color: white;
}
.clr:hover{
    color: rgba( 255, 255, 255, 0.2);
}
form{
    background-color: grey;
    padding: 10px;
    width: 40%;
    height: 95%;
    margin-left: 0%;
    min-height: 80vh;
}
fieldset{
    padding: 0 10px 10px 10px;
    margin-bottom: 5px;
    border: 10px solid black;
}

label{
    margin-top: 10px;
    display: block;
}
label.inline{
    display: inline;
    margin-right: 50px;
}
input, textarea, select, option{
    background-color: white;
}
input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width: 200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    }
   select {
    margin-top:10px;
    }
   input[type=radio] {
    background-color:transparent;
    border:black;
    width: 10px;
    }
   input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px grey;
    cursor:pointer;
    }
    .bouton:hover{
        color: #222;
        background: #555;
        background: linear-gradient( #777, #333)
            
    }
    .bouton{
        margin-left: 9%;
        font-family: Arial,sans-serif;
        font-size: 15px;
        width: 300px;
        height: 63px;
        padding-top: 10px; 
        padding-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
        color:white;
        background:black;
        border-radius: 8px;
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    }
    footer{
        width: 100%;
        min-height: 10vh;
        background-color:rgb(92, 88, 88);
        height: 100%;
        margin-top: -30px;
    }
    a{
        text-decoration: none;
    }
    .btn{
        margin-left: 25%;
        font-family: Arial,sans-serif;
        font-size: 15px;
        width: 300px;
        height: 63px;
        padding-top: 10px; 
        padding-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
        color: black;
        background: black;
        background: linear-gradient( #777, #333);
        border-radius: 11px ;
        border: 4px solid black;
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    }
    .left{
        margin-left: 39%;
        margin-top: 50;    
    }

    .inscription{
        width: 100%;
    }
    .haut{
        margin-left: 50px; /* déplacement de "INSCRIPTION" */

    }
    .demo{
        background-color: grey;
        margin-top: -70px;
        background-position: 50% 50% ;
        margin-left: -25px;
        margin-bottom: 0px;
        width: 40%;
        height: 100%;

    }
    .demo input{
        display: block;
        margin-bottom: 10px;
    }

    .utilisateur{
        margin-top: 100px;
        font-size: 20px;
        padding: 0px;
        margin-left: 16px;

    }
    .mdp{
        font-size: 20px;
        margin-left: 16px;
        
    }
    .nu{
        margin-left: 16px;
    }
    .mdp2{
        margin-left: 16px;
    }
    .confirm{
        font-size: 20px;
        margin-left: 16px;
    }
    .confirmmdp{
        margin-left: 16px;
    }
    .email{
        font-size: 20px;
        margin-left: 16px;
    }
    .mail{
        margin-left: 16px;
    }
    form.demo label { display:inline-block; }
    form.demo input { display:inline-block; }
    
    .sexe{
        font-size: 20px;
        margin-left: 16px;
    }
    .demo{
        font-size: 15px;
        font-family: Arial;
    }
    .select{
    font-size: 20px;
    margin-left: 16px;
}
    .opt{
    margin-left: 16px;
}
    .famille{
        font-size: 20px;
        margin-left: 16px;
    }
    .nom{
        margin-left: 16px;
    }
    .nom2{
        font-size: 20px;
        margin-left: 16px;
    }
    .famille2{
        margin-left: 16px;
    }
    .naissance{
        font-size: 20px;
        margin-left: 16px;
    }
    .date{
        margin-left: 16px; 
    }
    .num{
        font-size: 20px;
        margin-left: 16px;
    }
    .tel{
        margin-left: 16px;
    }
    .hobby {
        font-size: 20px;
        margin-left: 16px;
        float: left;    
        margin-top: 10px ;
    }
    .loisir {
        top: -10px;
        margin-left: 16px;
        margin-top: -20px;
        width: 10px;
        height: 10px;
    
    }

    .legend{
        font-size: 20px;
    }
    .set{
        border: 3px solid black;
        padding: 0 10px 10px 10px;
        width: 400px;
    }
    .last{
        margin-left: 16px;
        font-size: 20px;
        vertical-align: top;
    }
    .top{
        vertical-align: top;
        margin-left: 10px;
    }
    .der{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .champ{
        margin-left: 20px;
        margin-top: 10px;
        padding-top: 20px;
    }
   .create{
       background-color: black;
       border: grey;
       color: white;
       font-size: 20px;
   }
   .inscrit{
       display: block;
       color: rgb(255, 255, 255);
       cursor: pointer;
       background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
       border: 3px solid rgb(114, 121, 123);
       border-radius: 10px;
       box-shadow: rgba(152, 139, 139, 0.15) 0px 0px 10px 5px, rgba(255, 255, 255, 0.25) 1px 1px 0px 0px inset;
       text-shadow: none;
       opacity: 1;
       width: 100px;
       padding: 10px;
       text-align: center; 
       margin-top: 10px;
       margin-left: 16px;
       font-size: 20px;
   }
.oublie{
    float: left;
}
#reinitialiser{
    height: 2em;
    width: 15.7em;
    background-color:rgb(136, 93, 103);
    color: white;
    
}
.mail2{
    margin-left: 6px;
}
.seconnecte{
   background-color: black;
   color: white;
   font-size: 20px;
   border-radius: 10px;
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
   border-style: solid;
   border-width: 5px;
}
